@page "/opciones"
@using Practica_BlazorApp1.Data

<PageTitle>Github</PageTitle>

<h1>Pagina</h1>

<h3>Enlace a mi repositorio en GitHub:</h3>
<a href="https://github.com/mary2201/Practicas" target="_blank">GitHub</a>

